.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
  margin-bottom: 25px;
  padding: 10px;
}
.App-header a {
  color: white;
  padding: 7px;
  text-decoration: none;
  font-size: 18px;
}
.App-header a:hover {
  color: #61dafb;
}


